:root {
  --vp-c-accent: #27538c;
  --vp-c-accent-bg: #27538c;
  --vp-c-accent: #27538c;
  --vp-c-accent-bg: #27538c;
  --vp-c-accent-hover: #2e63a8;
  --vp-c-accent-text: var(--vp-c-white);
  --vp-c-accent-soft: rgb(39 83 140 / 14%);
}

kbd {
  letter-spacing: 0;
}
